<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../../output/photon-2.0-debug.js"></script>
    <!--<script src="angular.js"></script>-->
</head>
<body>

<span mv-attr-style="'color:red;'" mv-text="model.value"></span>
<input mv-model="model.value,updateOn='change'">
<button mv-action="model.invoke(),on='click'">Click</button>
<span mv-on-mouseover="model.enter(model.value)">Some Text</span>
<button mv-on-click="model.invoke()"></button>
<div mv-each="child in model.items">
<!--{{model.category}} - {{item.orderNo}} - {{item.description}}-->
<span mv-text="model.category" style="font-weight: bold"></span> -
<span mv-text="child.orderNo"></span> -
<span mv-text="child.description"></span>
<div>
<br>
<span style="text-decoration: underline;"><span>
Comments
</span></span>

<div mv-each="comment in child.comments">
<span mv-text="comment"></span>
</div>
</div>
</div>
<div mv-controller="TestController">
    <input mv-name="forenameInput" mv-decorator="'Field', label='Forename:'" mv-model="person.forename, updateOn='change'">
    <input mv-name="surnameInput" mv-decorator="'Field', label='Surname:'" mv-model="person.surname, updateOn='change'">
    <input value="Hello" class="red">
    <button mv-action="$controller.toggle(), on='click'">Show Message</button>
    <button mv-action="$controller.show(), on='click'">Has Outlets</button>
</div>

<script>

    //    Object.observe = null;
    //    Object.unobserve = null;
    var model = {
        invoke: function () {
            alert('invoked');
        },
        enter: function (value) {
            alert('enter with value ' + value);
        },
        value: 'This should be red',
        category: 'Special Interests',
        items: [
            {
                orderNo: 1,
                description: 'Black ribbed nobler',
                comments: ['Got this baby today, can\'t wait to get home and try it!!!']
            },
            {
                orderNo: 2,
                description: 'Blue vein piccolo'
            }
        ]
    };

    var testControllerFactory = ['$context', function (context) {
        var person1 = new Person();
        person1.forename('Jason');

        var person2 = new Person();
        person2.forename('Denise');

        context.person = person1;

        return {
            toggle: function () {


                context.person = context.person === person1 ? person2 : person1;
                context.$sync();
            },
            show : function() {
               // alert(this.forenameInput.value() + this.surnameInput.value());
               // what do we really want to work with here?
               // I think we should be working with nodes here, not jquery objects or any other nonsense,


            }
        };
    }];

    var Person = photon.type(
            function () {
                photon.Observable.call(this);
            })
            .inherits(photon.Observable)
            .defines({
                forename: photon.Observable.property('forename'),
                surname: photon.Observable.property('surname')
            })
            .build();

    var testModule = photon.module(function (builder) {
        builder.instance('Template', '<div><div><span mv-text="label" style="width: 200px"></span></div><content></content></div><span>Some thing else</span>')
                .name('Field');
        builder.instance('Template', '<div><h2 mv-text="label"></h2><content></content></div>').name('FieldGroup');
        builder.factory('Controller', testControllerFactory).name('TestController');
    });

    photon.bootstrap(document.body, [testModule], {model: model});

    /*
         Refactor observer code into observer class, we should then be able to test this in isolation
         Refactor expression parsing so we can parse an expression and then work with the compiled version, e.g.
         get its text, gets its getter, get its setter, etc...

         Realization, although each gives us a variable name and easy access to the parent. We have no
         consistent way of knowing what the item name will be in the child....
     */
</script>
</body>
</html>