<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../../output/photon-2.0-debug.js"></script>
    <script src="angular.js"></script>
</head>
<body>

<!--<span mv-attr-style="'color:red;'" mv-text="model.value"></span>-->
<!--<input mv-model="model.value,updateOn='change'">-->
<!--<button mv-action="model.invoke(),on='click'">Click</button>-->
<!--<span mv-on-mouseover="model.enter(model.value)">Some Text</span>-->
<!--<button mv-on-click="model.invoke()"></button>-->
<!--<div mv-each="child in model.items">-->
    <!--&lt;!&ndash;{{model.category}} - {{item.orderNo}} - {{item.description}}&ndash;&gt;-->
    <!--<span mv-text="model.category" style="font-weight: bold"></span> --->
    <!--<span mv-text="child.orderNo"></span> --->
    <!--<span mv-text="child.description"></span>-->

    <!--<div>-->
        <!--<br>-->
        <!--<span style="text-decoration: underline;"><span>-->
            <!--Comments-->
        <!--</span></span>-->

        <!--<div mv-each="comment in child.comments">-->
            <!--<span mv-text="comment"></span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div mv-controller="TestController">
    <div mv-decorator="'FieldGroup', label='Add comment'">

        <input mv-decorator="'Field', label='Forename:'" mv-model="person.forename, updateOn='change'">
        <input mv-decorator="'Field', label='Surname:'" mv-model="person.surname">
        <span mv-text="'Hello:' + person.forename + ' ' + person.surname"></span>

        <button mv-action="$controller.toggle(), on='click'">Show Message</button>
    </div>
</div>

<script>
    var model = {
        invoke: function () {
            alert('invoked');
        },
        enter: function (value) {
            alert('enter with value ' + value);
        },
        value: 'This should be red',
        category: 'Special Interests',
        items: [
            {
                orderNo: 1,
                description: 'Black ribbed nobler',
                comments: ['Got this baby today, can\'t wait to get home and try it!!!']
            },
            {
                orderNo: 2,
                description: 'Blue vein piccolo'
            }
        ]
    };

    var testControllerFactory = ['$context', function (context) {
        var person1 =  {
            forename : 'Jason',
            surname : 'Young'
        };
        var person2 =  {
            forename : '',
            surname : ''
        };

        context.person = person1;

        return {
            toggle: function () {
                context.person = context.person === person1 ? person2 : person1;
            }
        };
    }];

    var testModule = photon.module(function (builder) {
        builder.instance('Template', '<div><div><span mv-text="label" style="width: 200px"></span></div><content></content></div><span>Some thing else</span>')
                .name('Field');
        builder.instance('Template', '<div><h2 mv-text="label"></h2><content></content></div>').name('FieldGroup');
        builder.factory('Controller', testControllerFactory).name('TestController');
    });

    photon.bootstrap(document.body, [testModule], {model: model});

    /*
        For watches we need to create the shorted paths for all routed paths.

        e.g. a.b.c and a.b actually only requires us to create observers on a.b.c

        We will only be able to observe things with rooted paths, a rooted path.


     */
</script>
</body>
</html>