<!--suppress HtmlFormInputWithoutLabel -->
<script type="text/html" id="person" >
    <!-- Template: edit -->
    First name: <input data-bind='value:firstName' /></p>
    Last name: <input data-bind='value:lastName' /></p>
    <!-- Template: view -->
    <div>
        <span data-bind='innerText:"Welcome: " + (firstName() || "") + " " + (lastName() || "")' ></span>
    </div>
</script>