@import "bootstrap.css";
@import "../libs/highlight/styles/sunburst.css";

pre.tag {
    background: transparent;
}

code, pre {
    font-size: 14px;
}

div.exampleHeader {
    margin:10px;
}

div.tab-pane {
    padding: 0px;
}

div.exampleLayoutCol1 {
    display: inline-block; width:620px;
}

div.exampleLayoutCol2 {
    display: inline-block; width:300px; text-align: right; vertical-align: top;
}

div.sample {
    padding: 10px;
}

.btn {
    margin: 3px;
}

div.exampleContainer {
    text-align: left;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    background: #f5f5f5;
    border-radius: 4px;
    padding: 20px;
}