pre .tag {
    background: transparent;
}

.example {
    display:inline-block; width: 100%;
}

div .tab-pane {
    padding: 0px;
}

div .exampleLayoutCol1 {
    float:left; width:600px;
}

div .exampleLayoutCol2 {
    margin-left:610px; width:250px; text-align: right;
}

div .sample {
    padding: 10px;
}

.btn {
    margin: 3px;
}

div .exampleContainer {
    text-align: left;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    background: #f5f5f5;
    border-radius: 4px;
    padding: 20px;
}