<script type="text/html" id="pageTemplates">
    <!-- Template: navigationBar -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav" data-flow="each:items" >
                    <p:Flow data-flow="if:$data.children, applyTo:NextSibling">
                        <li class="dropdown" data-bind="{id:id}{class-active:$dataContext('navigationBar').activeItem() == $data}">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-bind="{text:title}{href:'#' + id}">
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" data-flow="each:children">
                                <li data-bind="class-active:$dataContext('navigationBar').activeItem() == $data">
                                    <a data-bind="{attribute-href:bootstrapper.baseUrl + href}{text:title}"></a>
                                </li>
                            </ul>
                        </li>
                    </p:Flow>
                    <p:Flow data-flow="if:!$data.children, applyTo:NextSibling">
                        <li data-bind="class-active:$dataContext('navigationBar').activeItem() == $data">
                            <a data-bind="{attribute-href:bootstrapper.baseUrl + href}{text:title}"></a>
                        </li>
                    </p:Flow>
                </ul>



            </div>
        </div>
    </div>
</script>